.Desktop/
.ssh/
Desktop
Desktop/
.bash_history
.bash_logout
.config/Mousepad/
.config/Okularrc
.config/htop
.config/gtk-3.0/
.config/gtk-2.0/
.config/dconf/
.config/okularrc
.icons/
.local/
.mozilla/
.texlive/
.gtkrc-2.0
.cache/
.Xauthority
.config/nitrogen/
.config/neofetch/
.config/rofi/
.vim/bundle/
.themes
.config/xfce4/
